.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));

}

article{
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
}

h2{
    margin: 0;
    line-height: 1.1;
    text-wrap: balance;
}

h1{
    font-size: 400%;
    line-height: 1.1;
    text-wrap: balance;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 150ch;
    margin-inline: auto;
    padding: 15px;
  }

  ul,
  ul > li {
    display: contents;
  }

  nav {
    --border-color: oklch(50% 10% 200 / 40%);
    display: flex;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /*border-bottom-color: oklch(80% 3% 200);*/
    border-bottom-color: var(--border-color);
  }

  a {
    flex: 1;
  }

  a.current{
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.2em;
  }

  :root{
    --color-accent: oklch(40% 0.15 240);
  }

  html{
    accent-color: var(--color-accent);
    color-scheme: dark;
  }

  a:hover{
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.2em;
  }

  label.color-scheme{
    position:absolute;
    top:.5rem;
    right:1rem;
    font-size:80%;
    font-family:inherit;
  }

  .project-image {
    max-width: 100%; 
    height: auto; 
    max-height: 250px;  
    object-fit: cover;  
    border-radius: 8px;  
}

#projects-pie-plot {
  flex-shrink: 0;  
  width: 120px;
  height: 120px;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr)); 
  gap: 0.5em;
  padding: 10px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  max-width: 200px;  
  flex: 1;  
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.legend-item .swatch {
  width: 1em;
  height: 1em;
  background: var(--color);
  border-radius: 4px; 
  display: inline-block;
}

.container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 1.5em;  
  max-width: 600px; 
  margin: auto;
}